[Unit]
Description=Arinna inverter service
Wants=mosquitto.service
PartOf=arinna.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -m arinna.inverter_provider

[Install]
WantedBy=arinna.target
