[Unit]
Description=Arinna publisher service
Wants=mosquitto.service
PartOf=arinna.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -m arinna.publisher
User=developer
Group=developer

[Install]
WantedBy=arinna.target
