[Unit]
Description=Arinna publisher timer
PartOf=arinna.target

[Timer]
OnUnitActiveSec=10s
AccuracySec=1s
OnBootSec=2m

[Install]
WantedBy=arinna.target
