[Unit]
Description=Arinna load balancer service
Wants=influxdb.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 -m arinna.load_balancer

[Install]
WantedBy=multi-user.target
