[Unit]
Description=Arinna database service
After=network.target
Wants=influxdb.service mosquitto.service grafana-server.service
PartOf=arinna.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -m arinna.database_provider
User=developer
Group=developer

[Install]
WantedBy=arinna.target
