[Unit]
Description=Arinna scheduler service
PartOf=arinna.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -m arinna.scheduler register
ExecStop=/usr/bin/python3 -m arinna.scheduler unregister
RemainAfterExit=yes
User=developer
Group=developer

[Install]
WantedBy=arinna.target
